name: release
on:
  push:
    tags: [ "v*.[0-99]" ] # only a valid semver tag

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow clone
        run: git fetch --prune --unshallow --tags
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@release/v1-alpha
        with:
          repo: pulumi/pulumictl
      - name: Install Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'
      - name: Goreleaser publish
        uses: goreleaser/goreleaser-action@v1
        with:
          version: v0.134.0
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
